body {
  background-color: white;
  margin: 0px;
}

.header {
  background-color: black;
  color: white;
  text-align: left;
  padding: 9px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.login {
  background-color: green;
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.div-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title
{
  margin-left: 25px;
}

.option-menu
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: navy;
  color: white;
  padding: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.building
{
  background-color: navy;
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 15px;
  font-family: arial;
  margin-left: 300px;
}

.art
{
  background-color: navy;
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 15px;
  font-family: arial;
}

.featured
{
  background-color: navy;
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 15px;
  font-family: arial;
  margin-right: 300px;
}

.art-museum-container
{
  display: relative;
  align-items: center;
}

.top-left
{
  position: absolute;
  text-align: left;
  top: 8px;
  left: 16px;
  color: white;
  margin-top: 125px;
  font-size: 35px;
}

.text-box
{
  background-color: black;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  margin-top: -120px;
}

.content1
{
  color: white;
  background-color: black;
}

.photo-box
{
  /* position: absolute; */
  overflow: hidden;
  background-color: rgb(224, 219, 219);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 150px;
  /* padding-bottom: 0px; */
}

.larimer-box
{
  display: block;
  top: -195px;
  left: 25px;
  position: relative;
  font-size: 25px;
  text-align: left;
  margin-top: 100px;
  white-space: nowrap;
  width:calc(100%/3);
}


.bridge-box
{
  display: block;
  top: -170px;
  left: 25px;
  position: relative;
  font-size: 25px;
  text-align: left;
  margin-top: 50px;
  white-space: nowrap;
  width:calc(100%/3);
}

.house-box
{
  display: block;
  top: -180px;
  right: -15px;
  position: relative;
  font-size: 25px;
  text-align: left;
  margin-top: 75px;
  white-space: nowrap;
  width:calc(100%/3);
}

.footer-box
{
  background-color: black;
  margin-top: -150px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.footer
{
  color: white;
  background-color: black;
}